* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.body {
  margin: 0;
  font-family: 'Poppins', 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;

}
.searchBody{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
display: none;
  transform: scale(0.7);
  background-color: #0c0d13;
  animation: __bounceInDown 1s ease;
align-items: center;
  justify-content:space-evenly;
  flex-direction: column;
  .closeBtn{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  .searchWrap{
    width: 60%;
    height: 50px;
    border-bottom: 1px solid #fff;
    input{
      width: 100%;
      height: 100%;
      padding: 15px;
      background: none;
      border: none;
      color: white;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      font-size: 1.3em;
    }
  }
}

.background {
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/newyork.jpg");
  background-position: center;
  background-origin: border-box;
  background-size: cover;

  background-repeat: no-repeat;
  animation: cameraPan 10s infinite;


}

.overlay{
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #120F19;
  position: absolute;
}
.content{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
justify-content: space-between;

  flex-direction: column;
  .wrap{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    .search{
      width: 300px;
      border-radius: 100px;
      height: 30px;
      background-color: #ffae22;
      color: white;
      font-weight: 600;
      display: flex;
      align-content: space-evenly;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      border: 1px solid #ffae22;
      transition: all 450ms 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      &:hover{
        background: none;
        border: 1px solid #c8c8c8;
        transform: scale(1.1);
        transition: 0.9s ease-in-out;
      }
      .icon{
        width: auto;
        height: 30px;
        img{
          object-fit: cover;

        }

      }
    }

    .currentCity{
      font-family: "Montserrat", sans-serif;
      width: auto;
      height: auto;
      font-weight: 600;
      color: white;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .city{
        font-size: 5em;
      }
      .cityMarker{
        width: 120px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        background-color: rgba(18, 15, 25, 0.85);
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

    }

    .temperature{
      width: 140px;
      height: 140px;
      border-radius: 100%;
      background-color: rgba(0, 10, 6, 0.6);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      .temp{
        font-family: "Quicksand", sans-serif;

        font-size: 3em;
        color: #facf84;
        font-weight: 600;
      }
    }
    .condition{
      width: 180px;
      height: 35px;
      border-radius: 30px;
      background-color: #101010;
      color: #05C867;
      text-align: center;
      font-weight: 600;
      line-height: 35px;
    }
  }


  .currentFull{
    width: 100%;
    height: 250px;
    bottom: 0;
    background-color: #000a06;
  }
}

@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;

  }
  50% {
    background-position: 50% 10%;
  }
  75% {
    background-position: 10% 40%;
   // transform: scale(1.2);
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes __bounceInDown {
0%{
  width: 100%;
  height: 0;
  transform: translateY(0) scaleY(0.7);

}

  75% {
    transform:translateY(20) scaleY(1.5);;
    width: 100%;
    height: 60vh;
  }
  100%{
    transform: translateY(100)  scale(1);;
    width: 100%;
    height: 100vh;
  }

}


